@model Domain.Entities.TaskType

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">X</span>
    </button>
    <h4 class="modal-title text-danger">Are you Sure to delete this task?</h4>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt> Task Name: </dt>
        <dd> @Html.DisplayFor(model => model.TaskName) </dd>
    </dl>
</div>

<div class="modal-footer">
    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <input type="submit" class="btn btn-success" id="DeleteTask" value="Yes" />
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $('#DeleteTask').click(function () {
        $('#myModal').modal('hide');
    });

    // function to delete row
    function confirmedDeletion($button){
        $.post("@Url.Action("Delete", "TaskTypesController")", { id : id } , function (data) {
        if(data.Success) {
            $button.closest('tr').remove();
        }
    });
    }
</script>
