@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var userInfoJson = jss.Serialize(ViewBag.techBreakdownList);
    var closedOpenJson = jss.Serialize(ViewBag.getHistoryLast7Days).Replace("\"\\/Date(", "").Replace(")\\/\"", "");
    var year = closedOpenJson.getFullYear();
    var month = closedOpenJson.getMonth() + 1;
    var day = closedOpenJson.getDate();
    var formatted = year + "-" + month + "-" + day;
}

<style>
    .info-box-number
    {
        font-size:26px;
    }
</style>

<section class="content-header">
    <h1>Administrator Dashboard</h1>
</section>

<br />
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Consultants</span>
                    <span class="info-box-number" id="consultantNo"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion-clock"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Open Incidents</span>
                    <span class="info-box-number" id="openTicks"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion-arrow-return-right"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Unassigned</span>
                    <span class="info-box-number" id="unassTicks"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion-briefcase"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Companies</span>
                    <span class="info-box-number" id="companiesNo"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Incident History Last 7 Days</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>                    
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="bar-chart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Technology Breakdown</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="sales-chart" style="height: 300px; position: relative;"></div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
@Scripts.Render("~/bundles/morris")
@Scripts.Render("~/bundles/raphael")

<script>
        $(document).ready(function () {
            $.get("/Dashboard/consultantNo", function (message) {
                $('#consultantNo').html(message);
            });

            $.get("/Dashboard/openTickets", function (message) {
                $('#openTicks').html(message);
            });

            $.get("/Dashboard/unassignedTickets", function (message) {
                $('#unassTicks').html(message);
            });

            $.get("/Dashboard/companiesNo", function (message) {
                $('#companiesNo').html(message);
            });

            $.get("/Dashboard/companiesNo", function (message) {
                $('#companiesNo').html(message);
            });

            $.get("/Dashboard/getTechnologyBreakdown");

            $.get("/Dashboard/getIncidentHistoryLast7Days");
        });

        $(function () {
            "use strict";

            var jsonClosedOpen = JSON.parse('@Html.Raw(closedOpenJson)').Data;

            //BAR CHART
            var bar = new Morris.Bar({
                element: 'bar-chart',
                resize: true,
                data: jsonClosedOpen,
                barColors: ['#f39c12', '#3c8dbc'],
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['Open', 'Closed'],
                hideHover: 'auto'
            });

            //Store JSON from controller
            var jsonInfo = JSON.parse('@Html.Raw(userInfoJson)').Data;

            //DONUT CHART
            var donut = new Morris.Donut({
                element: 'sales-chart',
                resize: true,
                colors: ["#3c8dbc", "#f56954", "#f39c12"],
                data: jsonInfo,
                hideHover: 'auto'
            });
         });
</script>
}