@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<section class="content">
    <div class="error-page">
        <h2 class="headline text-success"> <span class="glyphicon glyphicon-envelope"></span></h2>
        <br />
        <div class="error-content">
            <h3><i class="fa fa-warning text-success"></i> Password email sent.</h3>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</section>