@model UI.Models.ForgotPasswordViewModel

<section class="content-header">
    <h1>Forgot Password</h1>
</section>

<br />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header">
                    <h4 class="box-title">Enter your email addres</h4>        
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-md-2 control-label">Email:</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder="Email address.." })
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-default"><i class="fa fa-envelope-open-o"></i> Email Link</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
