@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-success"> <span class="glyphicon glyphicon-ok"></span></h2>
        <br />
        <div class="error-content">
            <h3><i class="fa fa-warning text-success"></i> Password change.</h3>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</section>